.cepr-btn {
	background-color: $sf-purple;
	color: #fff;
	cursor: pointer;
	padding: ($base-spacing / 2) ($base-spacing * 1.5);

	&--block {
		display: block;
	}

	&:hover {
		background-color: darken($sf-purple, 2.5%);
	}
}
