.member-list {
	list-style: none;
	padding: 0;

	li {
		margin: ($base-spacing / 2) 0;
		display: flex;
		align-items: center;
		justify-content: space-between;

		> strong {
			margin: 0 $base-spacing;
		}

		.cepr-badge,
		.cepr-btn {
			justify-self: flex-end;
			margin-left: auto;
		}
	}
}

.member-list__member-name-wrapper {
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	strong {
		margin: 0 $base-spacing;
	}
}
